
.root {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 34px;
    border-radius: 5.51px;
    width: 440px;
    background: #ffffff;
    /*border: solid 1px #999999;*/
    box-shadow: 0px 0px 0px 1px #c5c5c5;
    height: 311px;
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 34px;
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
}

input::-webkit-input-placeholder {
    color: #666666 !important;
    letter-spacing: -0.14px;

}

input:-moz-placeholder {
    color: #666666 !important;
    letter-spacing: -0.14px;

}

input::-moz-placeholder {
    color: #666666 !important;
    letter-spacing: -0.14px;

}

input:-ms-input-placeholder {
    color: #666666 !important;
}
.password_ok{
    border: solid 1px green;
}
.img_error{
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
}
input {
    box-shadow: 0px 0px 0px 1px #c5c5c5;
    background-repeat: no-repeat;
    background-position: 10px;
    outline: none;
    padding-left: 35px;
    border-radius: 5px;
    border: none;
    /*border: solid 1px #999999;*/
    width: 265px;
    height: 40px;
    font-size: 14px;
    letter-spacing: -0.14px;


}
.error{
    display: flex;
}

p{
    display: none;
    position: absolute;
    color: red;
    margin-top: 1px;
    font-size: 11px;
    margin-left: 3px;
}
.email_inp{
    background-image: url(../../img/email.png);
}
.red{
    border: solid 1px red;
}
.password_inp {
    background-image: url(../../img/password.png);
}
.email{
    margin-bottom: 34px;
}
.password{
    margin-bottom: 40px;
}
.container{
    height: 40px;
}
button {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: -0.18px;
    width: 90px;
    height: 41px;
    background: #36a2c1;
    opacity: 1;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 2px 0px #2d7f96;
    cursor: pointer;
}
button:active{
    box-shadow: none;
}
span{
    font-size: 12px;
    color: #666666;
    letter-spacing: -0.12px;
}
a{
    text-decoration: none;
    color: #36a2c1;
}
